.features {
    width: 80vw;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.features__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3.125rem;
    margin-left: 14rem;
    animation-duration: 3s;
    animation-name: slidein;
}

.features__title {
    font-family: "Helvetica-Bold";
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 130%;
    color: #212353;
    margin-bottom: -30px;
    animation-duration: 3s;
    animation-name: slidein;
}


@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  }

.features__description {
    font-family: "Avenir Regural";
    width: 36.5rem;
    font-weight: 500;
    font-size: 1.125rem;
    line-height: 160%;
    text-align: center;
    color: #4B5D68;
}

.features__content {
    display: inline-block;
    margin-top: 6.25rem;
    column-count: 2;
    margin-left: 14rem;
}

.features__content-feature {
    display: flex;
    width: 33.25rem;
    height: 22.375rem;
    gap: 1.875rem;
    background-position-x: right;
    background-repeat: no-repeat;
    padding-bottom: 3.125rem;
}

.features__content-feature.first {
    background-image: url("../images/background 1.svg");
}

.features__content-feature.second {
    background-image: url("../images/background 2.svg");
}

.features__content-feature.third {
    background-image: url("../images/background 3.svg");
}

.features__content-feature.fourth {
    background-image: url("../images/background 4.svg");
}

.features__content-feature-image {
    margin-top: 4.5625rem;
    width: 14.5rem;
    height: fit-content;
}

.features__content-feature-info {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    align-self: center;
}

.features__content-feature-title {
    font-family: "Helvetica-Bold";
    width: 12.5rem;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 130%;
    color: #212353;
}

.features__content-feature-description {
    font-family: "Avenir Regural";
    width: 13.75rem;
    font-weight: 400;
    font-size: 1rem;
    line-height: 160%;
    color: #4B5D68;
}

.features__content-feature-learn-more {
    display: flex;
    gap: 1.25rem;
    width: fit-content;
    background: transparent;
}

.features__content-feature-learn-more-text {
    font-family: "Avenir Regural";
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005rem;
    color: #212353;
}

.features__content-feature-learn-more-text2 {
    font-family: "Avenir Regural";
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005rem;
    color: #212353;
}

.features__content-feature-learn-more-text3 {
    font-family: "Avenir Regural";
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005rem;
    color: #212353;
}

.features__content-feature-learn-more-text4 {
    font-family: "Avenir Regural";
    font-weight: 800;
    font-size: 1rem;
    line-height: 160%;
    letter-spacing: 0.005rem;
    color: #212353;
}

.features__content-feature-learn-more-arrow {
    margin-top: 0.3rem;
}

.features__content-feature-learn-more-arrow2 {
    margin-top: 0.3rem;
}

.features__content-feature-learn-more-arrow3 {
    margin-top: 0.3rem;
}

.features__content-feature-learn-more-arrow4 {
    margin-top: 0.3rem;
}