@font-face {
    font-family: "Helvetica-Bold";
    src: url("../fonts/Helvetica-Bold.woff") format("woff2"),
        url("../fonts/Helvetica-Bold.woff2") format("woff");
}

@font-face {
    font-family: "Avenir Regural";
    src: url("../fonts/Avenir Regular.woff2") format("woff2"),
        url("../fonts/Avenir Regular.woff") format("woff");
}

 a {
    text-decoration: none;
    color: unset;
}

li {
    display: block;
} 

/* Global classes */

* {
    margin: 0;
    border: none;
}

button {
    border: 0;
    cursor: pointer;
}

.container {    
    margin: 0 auto;
    max-width: 1268px;
}