.hero {
    background-image: url("../images/Save your storage.svg");
    background-repeat: no-repeat;
    background-position: bottom right 58px;
}


.hero__title {
    color: #212353;
    font-family: "Helvetica-Bold";
    font-size: 5rem;
    font-weight: 700;
    line-height: 110%;
    display: flex;
    width: 645px;
    height: 184px;
    flex-direction: column;
    justify-content: center;
    margin-top: 120px;

}

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

.hero__pharagraph {
    color: #4B5D68;
    font-family: "Avenir Regural";
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    width: 380px;
    height: 120px;
}

.hero__button {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    background: #9C69E2;
    color: #FFF;
    text-align: center;
    font-family: "Avenir Regural";
    font-size: 18px;
    font-weight: 800;
    line-height: 160%;
    padding: 16px 0;
    margin-top: 50px;
    animation-duration: 1s;
    animation-name: slidein;
}