@media screen and (max-width: 320px) {
    .features {
        width: 100%;
        margin-left: -20px;
    }

    .features__header {
        margin: 0 auto;
    }

    .features__title {
        font-weight: 700;
        font-size: 2.5rem;
        line-height: 130%;
        margin-left: 35px;
    }

    .features__description {
        width: 280px;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 160%;
        text-align: center;
        margin-left: 20px;
    }

    .features__content {
        display: block;
        margin: 0;
        column-count: initial;
    }

    .features__content-feature {
        display: block;
        width: auto;
        height: 150px;
        margin: 0;
        margin-top: 50px;
    }

    .features__content-feature.first {
        background-image: none;
        background-color:#d4e8e5;
        border-radius: 30px;
    }

    .features__content-feature.second {
        background-image: none;
        background-color: #e8c9db;
        border-radius: 30px;
    }
    .features__content-feature.third {
        background-image: none;
        background-color: #d1c1e6;
        border-radius: 30px;
    }

    .features__content-feature.fourth {
        background-image: none;
        background-color: #bddbeb;
        border-radius: 30px;
        margin-bottom: 50px;
    }

    .features__content-feature-image {
        display: none;
    }

     .features__content-feature-info {
        gap: 1rem;
    }

    .features__content-feature-title {
        font-size: 14px;
        margin-left: 30px;
        margin-top: 3px;
    }

    .features__content-feature-description {
        font-size: 14px;
        max-width: 180px;
        line-height: 160%;
        margin-left: 20px;
    }

    .features__content-feature-learn-more-text {
        font-size: 14px;
        margin-left: 80px;
        margin-top: -10px;
    }

    .features__content-feature-learn-more-text4 {
        font-family: "Avenir Regural";
        font-weight: 800;
        line-height: 160%;
        letter-spacing: 0.005rem;
        color: #212353;
        font-size: 14px;
        margin-left: 100px;
        margin-top: -30px;
    }

    .features__content-feature-learn-more-arrow {
        margin-top: -9px;
    }

    .features__content-feature-learn-more-arrow4 {
        margin-top: -30px;
        margin-right: 10px;
    }

    .features__content-feature-learn-more-text3 {
        font-family: "Avenir Regural";
        font-weight: 800;
        line-height: 160%;
        letter-spacing: 0.005rem;
        color: #212353;
        font-size: 14px;
        margin-left: 80px;
        margin-top: 15px;
    }

    .features__content-feature-learn-more-arrow3 {
        margin-top: 14px;
    }

    .features__content-feature-learn-more-text2 {
        font-family: "Avenir Regural";
        font-weight: 800;
        line-height: 160%;
        letter-spacing: 0.005rem;
        color: #212353;
        font-size: 14px;
        margin-left: 80px;
        margin-top: 36px; 
    }

    .features__content-feature-learn-more-arrow2 {
        margin-top: 38px;
    }
}

@media screen and (min-width: 2560px) {
    .features__header {
        margin-left: 800px;
    }

    .features__content {
        margin-left: 900px;
    }

    .features__content-feature.first,
    .features__content-feature.third {
        margin-right: 300px;
    }
    
}