@media screen and (max-width: 320px) {
    .footer__content {
        width: 280px;
        margin-top: 6px;
        align-items: center;
        display: flex;
        justify-content: inherit;
    }

    .footer__content-title {
        width: 280px;
        font-weight: 700;
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 10px;
        text-align: center;
    }

    .footer__content-pharagraph {
        margin: 0;
        width: 280px;
        font-size: 15px;
        line-height: 160%;
        margin-bottom: 30px;
        margin-top: -10px;
        text-align: center;
    }


    .footer__content-copyrights {
        width: 280px;
        font-weight: 400;
        font-size: 10px;
        line-height: 180%;
        letter-spacing: 0.01rem;
        margin-top: 150px;
    }

    .footer__buttons {
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        /* order: 1; */
        margin-left: -290px;
    }

    .footer__buttons-learn-more {
        width: 120px;
        height: 50px;
        border-radius: 30px;
        margin-bottom: 70px;
        font-size: 14px;
    }

    .footer__buttons-request-demo {
        display: flex;
        width: 120px;
        height: 50px;
        align-items: center;
        background: transparent;
        border-radius: 30px;
        margin-top: 15px;
        white-space: nowrap;
        justify-content: center;
        margin-left: 15px;
        /* Додаємо цей рядок */
    }

    .footer__buttons-request-demo-text {
        font-weight: 800;
        font-size: 13px;
        margin-right: 30px;
    }

    .footer__buttons-request-demo-arrow {
        display: none;
    }

    .footer__chat-icon {
        display: none;
    }
}

@media screen and (min-width: 2560px) {
    .footer__chat-icon {
        margin-top: 13rem;
        background: transparent;
        position: fixed;
        right: 500px;
    }

    .footer__rectangle {
        margin-left: 180px;
        width: 100%; 

    }

    .footer__content-text {
        margin-left: 500px;
    }
}