@media screen and (max-width: 320px) {
    .intro {
        max-width: 100%;
        margin: 20px;
        height: 550px;
    }

    .intro__image {
        display: none;
    }

    .intro__title {
        width: 240px;
        height: auto;
        font-size: 35px;
        font-weight: 700;
        line-height: 130%;
        margin-left: 16px;
        text-align: center;
        margin-bottom: 15px;
    }

    .intro__pharagraph {
        width: 240px;
        height: auto;
        font-size: 18px;
        font-weight: 500;
        line-height: 160%;
        text-align: center;
        margin-left: 16px;
    }
}

@media screen and (min-width: 2560px) {
    .intro {
        margin-left: 800px;
    }
}